<div class="row">
  <div class="col s12 m6">
    <h4>Game code: {{game.code}}</h4>
  </div>
  <div class="col s12 m6 right-align">
    <div class="switch">
      <label>
        Dutch
        <input type="checkbox" [checked]="game.language === 'UK'" (change)="changeLanguageSwitch($event);">
        <span class="lever"></span>
        English
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6" *ngFor="let team of game.teams">
    <lobby-team [team]="team" (update)="collectUpdates($event)"></lobby-team>
  </div>
</div>
<div class="row">
  <div class="col s3 m2 l1">
    <a class="waves-effect waves-light btn" (click)="startGame()">Start</a>
  </div>
  <div class="col s6 m2 l1">
    <a class="waves-effect waves-light btn" (click)="addTeam()">Add team</a>
  </div>
  <div class="col s3 m2 l1">
    <a class="waves-effect waves-light btn" (click)="leaveGame()">Leave</a>
  </div>
</div>

<!--  modal for changing team name -->
<div id="change-team-name-modal" class="modal">
  <form #changeNameForm="ngForm" (ngSubmit)="submitChangeNameForm(changeNameForm.form);">
    <div class="modal-content">
      <h5>New name</h5>
        <input type="text" class="form-control" name="teamName" ngModel #nameField="ngModel">
    </div>
    <div class="modal-footer">
      <button href="#!" class="modal-close waves-effect waves-green btn-flat">Change</button>
    </div>
  </form>
</div>
