<div class="card {{team.pion_filename}} darken-3">
  <div class="card-content white-text">
    <span class="card-title">{{team.name}}</span>
    <ul>
      <li *ngFor="let player of team.players">
        <span *ngIf="player.is_me"><b>{{player.username}}</b></span>
        <span *ngIf="!player.is_me">{{player.username}}</span>
      </li>
    </ul>
  </div>
  <div class="card-action">
    <a *ngIf="!isMyTeam()" (click)="joinTeam()" class="white-text">Join team</a>
    <a *ngIf="isMyTeam()" (click)="deleteTeam()" class="white-text">Delete team</a>
    <a *ngIf="isMyTeam()" class="modal-trigger white-text" data-target="change-team-name-modal" (click)="changeTeamName()">Change name</a>
  </div>
</div>
